/* Colores */

.amarillo {
    background-color: #FFFFCC; 
}

.rojo {
    background-color: #EC7063;
}

.background {
    background-color: #666;
}

.gris {
    background-color: #111;
}

/* Pizarra */

.contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Nota */

.nota {
    padding: 1em;
    width: 20%;
    margin: 1%;
    min-height: 200px;
}

.nota .titulo {
    font-weight: bold;
}